.body-style {
  font-family: "Montserrat", sans-serif;
}
.banner {
  background: rgba(94, 93, 88, 0.6);
  display: flex;
  justify-content: space-between;
  position: fixed;
  width: 100%;
  z-index: 3;
}
.header-nav {
  display: flex;
}
.header-menu {
  display: flex;
  align-items: center;
  margin: 0;
  list-style: none;
  padding: 0;
}
.container {
  width: 1160px;
  margin: 0 auto 0 auto;
  display: flex;
  justify-content: space-between;
}
.header-list {
  justify-content: center;
  margin-right: 21px;
}
.header-link {
  text-align: center;
  text-decoration: none;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
  text-transform: uppercase;
  color: rgba(255, 255, 255, 0.6);
  position: relative;
}
.header-link:hover {
  color: #18cfab;
}
.header-link:hover:after {
  content: "";
  background-color: #18cfab;
  height: 2px;
  position: absolute;
  right: 0;
  top: 68px;
  width: 100%;
}
.header-button {
  background-image: url(../img/);
  width: 21px;
  height: 21px;
  background-size: contain;
  border: none;
  background-repeat: no-repeat;
  margin-top: 49px;
}
.about-us {
  background-image: url(../img/Sections-background/section-1\(header\).jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}
.section-container {
  width: 1160px;
  margin: 0 auto 0 auto;
  padding: 379px 0 243px 0;
}
.section-tiel {
  font-weight: 700;
  font-size: 35px;
  line-height: 1px;
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;
  margin: 0 0 22px 0;
}
.section-tiel-accent {
  color: #18cfab;
}
.section-slogan {
  font-weight: 700;
  font-size: 78px;
  line-height: 1px;
  align-items: center;
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;
}
.section-motto {
  font-size: 34px;
  line-height: 1px;
  text-align: center;
  color: #d4d4d4;
}
.button-container {
  width: 368px;
  margin: 134px auto 0 auto;
}
.section-button {
  width: 168px;
  height: 63px;
  background-color: #18cfab;
  border: none;
  border-radius: 5px;
  box-shadow: 0 -5px #d4d4d4;
  font-weight: 700;
  font-size: 15px;
  line-height: 32px;
  align-items: center;
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;
  padding: 0;
}
.button-buy {
  background-color: #00cbf6;
  margin-left: 26px;
}
.our-advantages {
  list-style: none;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  padding: 0;
  margin: 0;
}
.our-advantages-list {
  display: flex;
  justify-content: center;
  background-color: #1c2a33;
}
.our-advantages-accent {
  background-color: #18cfab;
}
.our-advantages-link {
  text-decoration: none;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  text-transform: uppercase;
  color: #18cfab;
  margin: 85px auto 110px auto;
}
.text-color {
  color: #ffffff;
  margin: 95px auto 110px auto;
}
.our-advantages-img {
  margin: 0 auto 48px auto;
}
.advantages-img-accent {
  margin: 0 auto 58px auto;
}
.our-advantages-text {
  margin: 0;
}
.services-container {
  width: 1160px;
  margin: 0 auto 0 auto;
}
.services-header {
  margin: 83px 0 101px 0;
  font-size: 36px;
  line-height: 40px;
  color: #4e4e4e;
  position: relative;
  text-align: center;
}
.services-header::before {
  content: "";
  background-color: #18cfab;
  height: 1px;
  position: absolute;
  right: 536px;
  top: 68px;
  width: 78px;
}
.services-header::after {
  content: "";
  background-color: #18cfab;
  height: 1px;
  position: absolute;
  left: 536px;
  top: 65px;
  width: 78px;
}
.services-list {
  list-style: none;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  font-size: 15.9859px;
  line-height: 39px;
  padding: 0;
  color: #717171;
}
.our-services-text {
  font-size: 15.9859px;
  line-height: 39px;
  text-align: center;
  color: #717171;
}
.triangle {
  position: absolute;
  bottom: -13px;
  left: 83px;
  display: none;
}
.triangle-active {
  display: block;
}
.our-services-item {
  background-color: #f8fcfe;
  border: 1.5px solid #edefef;
  position: relative;
}
.our-services-item:hover {
  border: 1.5px solid #18cfab;
}
.our-services-item-active {
  background-color: #18cfab;
  border: 1.5px solid #18cfab;
}
.our-services-list {
  list-style: none;
  padding: 0;
  margin-top: 20px;
}
.services-item-img {
  width: 192px;
  height: 139px;
}
.services-list-img {
  display: flex;
  flex-direction: row;
  gap: 23px;
  margin-bottom: 91px;
}
.services-item-text {
  margin: 0;
  font-weight: 300;
  font-size: 13.645px;
  line-height: 24px;
  color: #777777;
  width: 952px;
}
.services-item-none {
  display: none;
}
.advertising {
  background-image: url(../img/Sections-background/section-2.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}
.advertising:after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.6);
  z-index: 1;
 
}
.advertising-container {
  position: relative;
  padding: 127px 0;
  text-align: center;
  z-index: 2;
}

.advertising-header {
  font-weight: 700;
  font-size: 40px;
  line-height: 40px;
  text-align: center;
  text-transform: uppercase;
  color: #18cfab;
  z-index: 3;

 
}
.advertising-text {
  font-size: 14px;
  line-height: 42px;
  color: #717171;
  margin: 13px 0 67px 0;
  
}
.amazing-baner {
  background-color: #e9edef;
}
.amazing-container {
  padding: 95px 0 99px 0;
}
.amazing-work-list {
  display: flex;
  justify-content: center;
  padding: 0;
  margin: 97px 0 71px 0;
  list-style: none;
}
.amazing-header {
  margin: 0;
}
.amazing-work-item {
  font-size: 14px;
  line-height: 42px;
  align-items: center;
  color: #717171;
  padding: 7px 15px;
  border: 1px solid #dadada;
}

.amazing-work-text {
  padding: 7px 28px;
}
.amazing-photo-list {
  list-style: none;
  padding: 0;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  object-fit: cover;
  overflow: hidden;
}
.amazing-work-photo {
  display: block;
  width: 290px;
  height: 210px;
  position: relative;
}
.amazing-work-photo:hover .amazing-work-content {
  opacity: 0;
}
.amazing-work-photo:hover > .amazing-work-detailse {
  opacity: 1;
}
.hide {
  display: none;
}
.filter {
  display: none;
}
.activ {
  border: 1px solid #18cfab;
  color: #18cfab;
}
.amazing-work-content {
  width: 100%;
  height: 100%;
  object-fit: contain;
  transition: 1s;
}
.amazing-work-button {
  box-shadow: none;
  display: flex;
  margin: 70px auto 0 auto;
}
.amazing-work-img {
  padding: 0 15px 0 23px;
}
.amazing-work-detailse {
  width: 290px;
  height: 210px;
  border-top: 2px solid #18cfab;
  background-color: #e9edef;
  padding: 40px 0 33px 0;
  text-align: center;
  position: absolute;
  top: 0;
  opacity: 0;
  transition: 1s;
}

.work-detailse-img {
  margin-left: 102px;
}
.work-detailse-head {
  font-weight: 700;
  font-size: 14.1771px;
  line-height: 25px;
  text-transform: uppercase;
  color: #18cfab;
  margin-top: 24px;
}
.work-detailse-text {
  font-weight: 300;
  font-size: 12.1518px;
  line-height: 25px;
  color: #8a8a8a;
}
.news-container {
  padding: 82px 0 128px 0;
}
.news-photo-list {
  margin-top: 121px;
  gap: 35px;
}
.news-photo-content {
  position: relative;
  text-align: center;
}
.news-photo-content:hover .news-photo-item {
  background-color: #18cfab;
}
.news-photo-content:hover .photo-item-header {
  color: #18cfab;
}
.news-photo-item {
  width: 70px;
  height: 68px;
  background-color: #203e38;
  position: absolute;
  top: 0;
  right: 0;
  text-align: center;
  padding: 10px 0 14px 0;
}
.photo-item-text {
  font-size: 16px;
  line-height: 25px;
  color: #ffffff;
  margin: 0;
}
.photo-item-header {
  font-weight: 700;
  font-size: 17.9885px;
  line-height: 39px;
  color: #717171;
  margin: 5px 0 28px 0;
}
.item-header-text {
  font-weight: 300;
  font-size: 13.991px;
  line-height: 39px;
  color: #777777;
  margin: 0;
  position: absolute;
  bottom: 0;
  left: 50px;
}

.reviews {
  background-image: url(../img/Sections-background/section-3.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}
.reviews-container {
  padding: 98px 0 104px 0;
  text-align: center;
}
.reviews-header {
  font-size: 36px;
  line-height: 40px;

  color: #ffffff;
}

.services-header-comma {
  width: 44px;
  height: 30px;
  margin: 0 auto;
}
.services-header-list {
  list-style: none;
  padding: 0;
  margin-top: 36px;
  min-height: 364px;
}
.services-header-item {
  display: flex;
  align-items: center;
  flex-direction: column;
  display: none;
}
.services-header-item-activ {
  display: block;
}
.services-header-img {
  width: 143px;
  height: 142px;
  border-radius: 50%;
  border: 11px solid rgb(31, 218, 181, 0.2);
  margin: 38px auto 0 auto;
}

.services-header-review {
  font-weight: 300;
  font-size: 16px;
  line-height: 30px;
  color: #bbbbbb;
  margin: 0;
}
.services-header-user {
  font-weight: 700;
  font-size: 16px;
  line-height: 27px;
  text-transform: uppercase;
  color: #18cfab;
  margin: 37px 0 0 0;
}
.services-header-job {
  font-weight: 300;
  font-size: 16px;
  line-height: 27px;
  color: #bbbbbb;
  margin: 0;
}
.services-heade-button {
  width: 31px;
  height: 31px;
  position: relative;
}

.review-button {
  width: 31px;
  height: 31px;
  padding: 8px 10px;
  border: 1px solid #bbbbbb;
}
.review-button:hover {
  background-color: #18cfab;
}

.accent {
  color: #18cfab;
}
.review-nav {
  display: flex;
  align-items: center;
  width: 483px;
  margin: 0 auto;
  justify-content: space-around;
}

.review-content-item {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  border: 5px solid rgb(31, 218, 181, 0.2);
}
.review-content-activ {
  margin-bottom: 10px;
}
.footer-baner {
  padding: 47px 0;
  background-color: #22353f;
  text-align: center;
}
.footer-text {
  font-weight: 300;
  font-size: 14px;
  line-height: 26px;
  color: #aeaeae;
}
